# Bank Customer Analysis

### Import necessary Python libraries

In [2]:
import numpy as np
import pandas as pd

### Load Sheet 1 and Sheet 2

In [3]:
sheet1 = pd.read_excel("C:/Users/Arshad/Desktop/Datasets/Datasets for unguided Projects/Bank Churn Data/Bank_Churn_Messy.xlsx", sheet_name = 'Customer_Info')
df1 = pd.DataFrame(sheet1)
print(df1)

       CustomerId    Surname  CreditScore Geography  Gender   Age  Tenure  \
0        15634602   Hargrave          619       FRA  Female  42.0       2
1        15647311       Hill          608     Spain  Female  41.0       1
2        15619304       Onio          502    French  Female  42.0       8
3        15701354       Boni          699       FRA  Female  39.0       1
4        15737888   Mitchell          850     Spain  Female  43.0       2
...           ...        ...          ...       ...     ...   ...     ...
9996     15569892  Johnstone          516    French    Male  35.0      10
9997     15584532        Liu          709       FRA  Female  36.0       7
9998     15682355  Sabbatini          772   Germany    Male  42.0       3
9999     15628319     Walker          792    French  Female  28.0       4
10000    15628319     Walker          792    French  Female  28.0       4

      EstimatedSalary
0          €101348.88
1          €112542.58
2          €113931.57
3           €93826.63
4            €79084.1
...               ...
9996       €101699.77
9997        €42085.58
9998        €92888.52
9999        €38190.78
10000       €38190.78

[10001 rows x 8 columns]

In [5]:
sheet2 = pd.read_excel("C:/Users/Arshad/Desktop/Datasets/Datasets for unguided Projects/Bank Churn Data/Bank_Churn_Messy.xlsx", sheet_name = 'Account_Info')
df2 = pd.DataFrame(sheet2)
print(df2)

       CustomerId     Balance  NumOfProducts HasCrCard  Tenure IsActiveMember  \
0        15634602        €0.0              1       Yes       2            Yes
1        15634602        €0.0              1       Yes       2            Yes
2        15647311   €83807.86              1       Yes       1            Yes
3        15619304   €159660.8              3        No       8             No
4        15701354        €0.0              2        No       1             No
...           ...         ...            ...       ...     ...            ...
9997     15569892   €57369.61              1       Yes      10            Yes
9998     15584532        €0.0              1       Yes       7            Yes
9999     15682355   €75075.31              2        No       3             No
10000    15628319  €130142.79              1        No       4             No
10001    15628319  €130142.79              1        No       4             No

       Exited
0           1
1           1
2           0
3           1
4           0
...       ...
9997        0
9998        1
9999        1
10000       0
10001       0

[10002 rows x 7 columns]

### Checked Data Info.

In [6]:
print(df1.info())
df1.columns = df1.columns.str.strip()
print(df1.columns)



print(df2.info())
df2.columns = df2.columns.str.strip()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10001 non-null  int64
 1   Surname          9998 non-null   object
 2   CreditScore      10001 non-null  int64
 3   Geography        10001 non-null  object
 4   Gender           10001 non-null  object
 5   Age              9998 non-null   float64
 6   Tenure           10001 non-null  int64
 7   EstimatedSalary  10001 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 625.2+ KB
None
Index(['CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age',
       'Tenure', 'EstimatedSalary'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerId      10002 non-null  int64
 1   Balance         10002 non-null  object
 2   NumOfProducts   10002 non-null  int64
 3   HasCrCard       10002 non-null  object
 4   Tenure          10002 non-null  int64
 5   IsActiveMember  10002 non-null  object
 6   Exited          10002 non-null  int64
dtypes: int64(4), object(3)
memory usage: 547.1+ KB
None

### Check for Duplicate and Drop

In [7]:
print(df1["CustomerId"].duplicated().sum())
df1 = df1.drop_duplicates(["CustomerId"])
print(df1.info())

print("  ")

print(df2["CustomerId"].duplicated().sum())
df2 = df2.drop_duplicates(["CustomerId"])
print(df2.info())

1
<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          9997 non-null   object
 2   CreditScore      10000 non-null  int64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              9997 non-null   float64
 6   Tenure           10000 non-null  int64
 7   EstimatedSalary  10000 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 703.1+ KB
None

2
<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 10000
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerId      10000 non-null  int64
 1   Balance         10000 non-null  object
 2   NumOfProducts   10000 non-null  int64
 3   HasCrCard       10000 non-null  object
 4   Tenure          10000 non-null  int64
 5   IsActiveMember  10000 non-null  object
 6   Exited          10000 non-null  int64
dtypes: int64(4), object(3)
memory usage: 625.0+ KB
None

### Check for Missing Values

In [8]:
print(df1.isnull().sum())

print("  ")

print(df2.isnull().sum())

CustomerId         0
Surname            3
CreditScore        0
Geography          0
Gender             0
Age                3
Tenure             0
EstimatedSalary    0
dtype: int64

CustomerId        0
Balance           0
NumOfProducts     0
HasCrCard         0
Tenure            0
IsActiveMember    0
Exited            0
dtype: int64

### Handle Null Values

In [9]:
df1["Surname"].fillna(method= "ffill", inplace= True)
df1["Age"].fillna(df1["Age"].mean(), inplace= True)

print(df1.isnull().sum())
print(df1.head())

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
EstimatedSalary    0
dtype: int64
   CustomerId   Surname  CreditScore Geography  Gender   Age  Tenure  \
0    15634602  Hargrave          619       FRA  Female  42.0       2
1    15647311      Hill          608     Spain  Female  41.0       1
2    15619304      Onio          502    French  Female  42.0       8
3    15701354      Boni          699       FRA  Female  39.0       1
4    15737888  Mitchell          850     Spain  Female  43.0       2

  EstimatedSalary
0      €101348.88
1      €112542.58
2      €113931.57
3       €93826.63
4        €79084.1

C:\Users\Arshad\AppData\Local\Temp\ipykernel_107236\2655068749.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["Surname"].fillna(method= "ffill", inplace= True)
C:\Users\Arshad\AppData\Local\Temp\ipykernel_107236\2655068749.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1["Surname"].fillna(method= "ffill", inplace= True)
C:\Users\Arshad\AppData\Local\Temp\ipykernel_107236\2655068749.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1["Age"].fillna(df1["Age"].mean(), inplace= True)

 ### Check uniquess of Column

In [10]:
print(df1['Geography'].unique())

['FRA' 'Spain' 'French' 'France' 'Germany']

### Replace `French`/`FRA` → `France`  
### Remove `€` symbol from Balance & Estimated Salary

In [11]:
df1["Geography"] = df1["Geography"].replace({"FRA": "France", "French": "France"})
df1['EstimatedSalary'] = df1['EstimatedSalary'].astype(str).str.replace('€','',).astype(float)

df2["Balance"] = df2["Balance"].astype(str).str.replace("€", "",).astype(float)

print(df1.head())

print("""   """)

print(df2.head())

   CustomerId   Surname  CreditScore Geography  Gender   Age  Tenure  \
0    15634602  Hargrave          619    France  Female  42.0       2
1    15647311      Hill          608     Spain  Female  41.0       1
2    15619304      Onio          502    France  Female  42.0       8
3    15701354      Boni          699    France  Female  39.0       1
4    15737888  Mitchell          850     Spain  Female  43.0       2

   EstimatedSalary
0        101348.88
1        112542.58
2        113931.57
3         93826.63
4         79084.10

   CustomerId    Balance  NumOfProducts HasCrCard  Tenure IsActiveMember  \
0    15634602       0.00              1       Yes       2            Yes
2    15647311   83807.86              1       Yes       1            Yes
3    15619304  159660.80              3        No       8             No
4    15701354       0.00              2        No       1             No
5    15737888  125510.82              1       Yes       2            Yes

   Exited
0       1
2       0
3       1
4       0
5       0

 ### Drop Tenure column from one sheet

In [12]:
df2.drop('Tenure', axis = 1 , inplace = True)

### Merge datasets on **Customer ID**

In [13]:
df = pd.merge(df1, df2, on = "CustomerId", how = "inner")
print(df)

      CustomerId    Surname  CreditScore Geography  Gender   Age  Tenure  \
0       15634602   Hargrave          619    France  Female  42.0       2
1       15647311       Hill          608     Spain  Female  41.0       1
2       15619304       Onio          502    France  Female  42.0       8
3       15701354       Boni          699    France  Female  39.0       1
4       15737888   Mitchell          850     Spain  Female  43.0       2
...          ...        ...          ...       ...     ...   ...     ...
9995    15606229   Obijiaku          771    France    Male  39.0       5
9996    15569892  Johnstone          516    France    Male  35.0      10
9997    15584532        Liu          709    France  Female  36.0       7
9998    15682355  Sabbatini          772   Germany    Male  42.0       3
9999    15628319     Walker          792    France  Female  28.0       4

      EstimatedSalary    Balance  NumOfProducts HasCrCard IsActiveMember  \
0           101348.88       0.00              1       Yes            Yes
1           112542.58   83807.86              1       Yes            Yes
2           113931.57  159660.80              3        No             No
3            93826.63       0.00              2        No             No
4            79084.10  125510.82              1       Yes            Yes
...               ...        ...            ...       ...            ...
9995         96270.64       0.00              2        No             No
9996        101699.77   57369.61              1       Yes            Yes
9997         42085.58       0.00              1       Yes            Yes
9998         92888.52   75075.31              2        No             No
9999         38190.78  130142.79              1        No             No

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 13 columns]

### Convert Age, Balance, Estimated Salary → integer

In [14]:
df = df.astype({'Age': int, 'EstimatedSalary': float, 'Balance': float})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       10000 non-null  int64
 1   Surname          10000 non-null  object
 2   CreditScore      10000 non-null  int64
 3   Geography        10000 non-null  object
 4   Gender           10000 non-null  object
 5   Age              10000 non-null  int64
 6   Tenure           10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  object
 11  IsActiveMember   10000 non-null  object
 12  Exited           10000 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 1015.8+ KB
None

### Check for negatives in Balance & Estimated Salary

In [15]:
negative_salaries = df[df["EstimatedSalary"] < 0]
print(negative_salaries)
negative_Balance = df[df['Balance']<0]


print(negative_Balance)

      CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
28      15728693   Nebechi          574   Germany  Female   38       3
121     15580203  Culbreth          674     Spain    Male   38       6
9389    15756954      Nagy          538    France  Female   38       2

      EstimatedSalary    Balance  NumOfProducts HasCrCard IsActiveMember  \
28          -999999.0  141349.43              1       Yes            Yes
121         -999999.0  120193.42              1        No             No
9389        -999999.0       0.00              1       Yes            Yes

      Exited
28         0
121        0
9389       0
Empty DataFrame
Columns: [CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, EstimatedSalary, Balance, NumOfProducts, HasCrCard, IsActiveMember, Exited]
Index: []

### Replace negatives with mean values

In [16]:
mean_salary = df.loc[df['EstimatedSalary'] >= 0, 'EstimatedSalary'].mean()

df['EstimatedSalary'] = df['EstimatedSalary'].apply(lambda x: mean_salary if x < 0 else x)

print(df['EstimatedSalary'])

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

### Create Categorical Bands and Range Based Columns 
### Credit Score, Age, Tenure, Balance, Salary

In [17]:
bins = [300, 550, 630 ,680, 750, 900]
labels_range = ['300-549','550-629','630-679','680-749','750-899']
labels_name = ['Very-Low', 'Low', 'Medium', 'High', 'Very-High']

df['CreditScoreRange'] = pd.cut(df['CreditScore'], bins = bins, labels = labels_range, right = False)

df['CreditScoreCategory'] = pd.cut(df['CreditScore'], bins=bins, labels=labels_name, right=False)
print(df.head())

bins = [18,35,41,55,100]
labels_range = ['18-34','35-40','41-54','55-99']
labels_name = ['Young-Adults','Adults', 'Mature-Adults','Seniors']

df['AgeRange'] = pd.cut(df['Age'], bins = bins, labels = labels_range, right = False)
df['Age_Groups'] = pd.cut(df['Age'], bins = bins, labels = labels_name, right = False)

print(df.head())

   CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

   EstimatedSalary    Balance  NumOfProducts HasCrCard IsActiveMember  Exited  \
0        101348.88       0.00              1       Yes            Yes       1
1        112542.58   83807.86              1       Yes            Yes       0
2        113931.57  159660.80              3        No             No       1
3         93826.63       0.00              2        No             No       0
4         79084.10  125510.82              1       Yes            Yes       0

  CreditScoreRange CreditScoreCategory
0          550-629                 Low
1          550-629                 Low
2          300-549            Very-Low
3          680-749                High
4          750-899           Very-High
   CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

   EstimatedSalary    Balance  NumOfProducts HasCrCard IsActiveMember  Exited  \
0        101348.88       0.00              1       Yes            Yes       1
1        112542.58   83807.86              1       Yes            Yes       0
2        113931.57  159660.80              3        No             No       1
3         93826.63       0.00              2        No             No       0
4         79084.10  125510.82              1       Yes            Yes       0

  CreditScoreRange CreditScoreCategory AgeRange     Age_Groups
0          550-629                 Low    41-54  Mature-Adults
1          550-629                 Low    41-54  Mature-Adults
2          300-549            Very-Low    41-54  Mature-Adults
3          680-749                High    35-40         Adults
4          750-899           Very-High    41-54  Mature-Adults

In [18]:
bins = [0,25000,100000,125000,150000,250900]
labels_range = ['0-24999','25000-999999','100000-124999','125000-149000','150000-250899']
labels_name = ['Very-Low', 'Low','Medium','High','Very-High']

df['BalanceRange'] = pd.cut(df['Balance'], bins = bins, labels = labels_range, right = False)
df['Balance_Category'] = pd.cut(df['Balance'], bins = bins, labels = labels_name, right = False)
print(df.head())

   CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

   EstimatedSalary    Balance  NumOfProducts HasCrCard IsActiveMember  Exited  \
0        101348.88       0.00              1       Yes            Yes       1
1        112542.58   83807.86              1       Yes            Yes       0
2        113931.57  159660.80              3        No             No       1
3         93826.63       0.00              2        No             No       0
4         79084.10  125510.82              1       Yes            Yes       0

  CreditScoreRange CreditScoreCategory AgeRange     Age_Groups   BalanceRange  \
0          550-629                 Low    41-54  Mature-Adults        0-24999
1          550-629                 Low    41-54  Mature-Adults   25000-999999
2          300-549            Very-Low    41-54  Mature-Adults  150000-250899
3          680-749                High    35-40         Adults        0-24999
4          750-899           Very-High    41-54  Mature-Adults  125000-149000

  Balance_Category
0         Very-Low
1              Low
2        Very-High
3         Very-Low
4             High

In [19]:
bins = [10,25000,50000,100000,150000,200000]
labels_range = ['10-24999','25000-49999','50000-999999','100000-149999','150000-199999']
labels_name = ['Very-Low', 'Low', 'Medium','High','Very-High']

df['EstimatedSalaryRange'] = pd.cut(df['EstimatedSalary'], bins = bins , labels = labels_range, right = False)
df['EstimatedSalary_Category'] = pd.cut(df['EstimatedSalary'], bins = bins , labels = labels_name, right = False)
print(df.head())

   CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

   EstimatedSalary    Balance  NumOfProducts  ... IsActiveMember Exited  \
0        101348.88       0.00              1  ...            Yes      1
1        112542.58   83807.86              1  ...            Yes      0
2        113931.57  159660.80              3  ...             No      1
3         93826.63       0.00              2  ...             No      0
4         79084.10  125510.82              1  ...            Yes      0

   CreditScoreRange CreditScoreCategory AgeRange     Age_Groups  \
0           550-629                 Low    41-54  Mature-Adults
1           550-629                 Low    41-54  Mature-Adults
2           300-549            Very-Low    41-54  Mature-Adults
3           680-749                High    35-40         Adults
4           750-899           Very-High    41-54  Mature-Adults

    BalanceRange Balance_Category EstimatedSalaryRange  \
0        0-24999         Very-Low        100000-149999
1   25000-999999              Low        100000-149999
2  150000-250899        Very-High        100000-149999
3        0-24999         Very-Low         50000-999999
4  125000-149000             High         50000-999999

  EstimatedSalary_Category
0                     High
1                     High
2                     High
3                   Medium
4                   Medium

[5 rows x 21 columns]

In [20]:
bins = [0,3,6,11]
labels_range = ['0-2','3-5','6-10']
labels_name = ['New', 'Mid-Term', 'Long-Term']

df['TenureRange'] = pd.cut(df['Tenure'], bins = bins , labels = labels_range, right = False)
df['Tenure_Group'] = pd.cut(df['Tenure'], bins = bins , labels = labels_name, right = False)
print(df.head())

   CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure  \
0    15634602  Hargrave          619    France  Female   42       2
1    15647311      Hill          608     Spain  Female   41       1
2    15619304      Onio          502    France  Female   42       8
3    15701354      Boni          699    France  Female   39       1
4    15737888  Mitchell          850     Spain  Female   43       2

   EstimatedSalary    Balance  NumOfProducts  ... CreditScoreRange  \
0        101348.88       0.00              1  ...          550-629
1        112542.58   83807.86              1  ...          550-629
2        113931.57  159660.80              3  ...          300-549
3         93826.63       0.00              2  ...          680-749
4         79084.10  125510.82              1  ...          750-899

  CreditScoreCategory  AgeRange     Age_Groups   BalanceRange  \
0                 Low     41-54  Mature-Adults        0-24999
1                 Low     41-54  Mature-Adults   25000-999999
2            Very-Low     41-54  Mature-Adults  150000-250899
3                High     35-40         Adults        0-24999
4           Very-High     41-54  Mature-Adults  125000-149000

  Balance_Category EstimatedSalaryRange EstimatedSalary_Category TenureRange  \
0         Very-Low        100000-149999                     High         0-2
1              Low        100000-149999                     High         0-2
2        Very-High        100000-149999                     High        6-10
3         Very-Low         50000-999999                   Medium         0-2
4             High         50000-999999                   Medium         0-2

  Tenure_Group
0          New
1          New
2    Long-Term
3          New
4          New

[5 rows x 23 columns]

### Final Dataset Check

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerId                10000 non-null  int64
 1   Surname                   10000 non-null  object
 2   CreditScore               10000 non-null  int64
 3   Geography                 10000 non-null  object
 4   Gender                    10000 non-null  object
 5   Age                       10000 non-null  int64
 6   Tenure                    10000 non-null  int64
 7   EstimatedSalary           10000 non-null  float64
 8   Balance                   10000 non-null  float64
 9   NumOfProducts             10000 non-null  int64
 10  HasCrCard                 10000 non-null  object
 11  IsActiveMember            10000 non-null  object
 12  Exited                    10000 non-null  int64
 13  CreditScoreRange          10000 non-null  category
 14  CreditScoreCategory       10000 non-null  category
 15  AgeRange                  10000 non-null  category
 16  Age_Groups                10000 non-null  category
 17  BalanceRange              10000 non-null  category
 18  Balance_Category          10000 non-null  category
 19  EstimatedSalaryRange      10000 non-null  category
 20  EstimatedSalary_Category  10000 non-null  category
 21  TenureRange               10000 non-null  category
 22  Tenure_Group              10000 non-null  category
dtypes: category(10), float64(2), int64(6), object(5)
memory usage: 1.1+ MB
None

### Export Cleaned Dataset

In [48]:
df.to_csv("bankdata.csv", index= False)